<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h1>Recettes</h1>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="list-recipe">
      <ul>
        <li class="recipe">
          <div style="background-image: url(../../../assets/img/recipes/recipe_1.jpg);">
            <p class="name">Cookies maison</p>
            <p class="time"><mat-icon>timer</mat-icon>25min</p>
          </div>
        </li>
        <li class="recipe">
          <div style="background-image: url(../../../assets/img/recipes/recipe_2.jpg);">
            <p class="name">Tarte au chocolat blanc et aux fraises</p>
            <p class="time"><mat-icon>timer</mat-icon>50min</p>
          </div>
        </li>
        <li class="recipe">
          <div style="background-image: url(../../../assets/img/recipes/recipe_3.jpg);">
            <p class="name">Crème dessert facile au chocolat</p>
            <p class="time"><mat-icon>timer</mat-icon>15min</p>
          </div>
        </li>
        <li class="recipe">
          <div style="background-image: url(../../../assets/img/recipes/recipe_4.jpg);">
            <p class="name">Crème dessert aux pommes</p>
            <p class="time"><mat-icon>timer</mat-icon>40min</p>
          </div>
        </li>
        <li class="recipe">
          <div style="background-image: url(../../../assets/img/recipes/recipe_5.jpg);">
            <p class="name">Pizza dessert au Nutella</p>
            <p class="time"><mat-icon>timer</mat-icon>25min</p>
          </div>
        </li>
        <li class="recipe">
          <div style="background-image: url(../../../assets/img/recipes/recipe_6.jpg);">
            <p class="name">Muffin forêt noire</p>
            <p class="time"><mat-icon>timer</mat-icon>45min</p>
          </div>
        </li>
        <li class="recipe">
          <div style="background-image: url(../../../assets/img/recipes/recipe_7.jpg);">
            <p class="name">Beignets fantaisies</p>
            <p class="time"><mat-icon>timer</mat-icon>25min</p>
          </div>
        </li>
        <li class="recipe">
          <div style="background-image: url(../../../assets/img/recipes/recipe_8.jpg);">
            <p class="name">Biscuit chocolat</p>
            <p class="time"><mat-icon>timer</mat-icon>25min</p>
          </div>
        </li>
      </ul>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
